@model IEnumerable<Task_Mangement.Models.Task>

@{
    ViewData["Title"] = "Index";
    var d = new Dictionary<string, string>
    {
        {"title", "title.id"},
    };
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<a asp-action="Index" asp-all-route-data="d">Filter</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Title")
                <div class="header-filter input-group" style="width: 15rem;">
                    <input value="" name="title" id="title" class="form-control"
                           placeholder="Task Title" type="text">
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDueDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
